@use "./root.scss";
@use "./font.scss";
@use "./arcgis.scss";
@use "./nprogress.scss";
@use "./element/custom.scss";
@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;

* {
  box-sizing: border-box;
  outline: none;
}

html,
body,
#app {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  background: var(--el-html-bg-color);

  &.dark {
    color-scheme: dark;
    background: var(--el-html-bg-color-dark);
  }
}

input:-webkit-autofill {
  transition: color 60s, background-color 60s;
}

pre.shiki {
  padding: 16px;
  margin: 0;
  overflow: auto;
  font-size: 16px;
  background-color: #1e1f22 !important;
  border-radius: 8px;

  code {
    font-family: "DM Mono", monospace;
  }
}
