// * ElMessage
div.el-message {
  --el-message-bg-color: #fff;

  margin-top: 13px;
  border: none;
  box-shadow: 0 0 4px 4px rgb(0 0 0 / 5%);
}

// * ElScrollbar
.el-scrollbar__thumb {
  background-color: #fff !important;
  opacity: 0.8 !important;
}

// * ElNotification
.el-notification {
  margin-top: 3px;
}
