// * ElMessage
div.el-message {
  --el-message-bg-color: #fff;

  margin-top: 13px;
  border: none;
  box-shadow: 0 0 4px 4px rgb(0 0 0 / 5%);
}

// * ElScrollbar
.el-scrollbar__thumb {
  background-color: var(--el-layout-bg-color);
  opacity: 0.85;
}

.el-scrollbar__view {
  height: 100%;
}

// * ElNotification
.el-notification {
  margin-top: 3px;
}
