@forward "element-plus/theme-chalk/src/dark/var.scss" with (
  $colors: (
    "primary": (
      "base": #165dff,
    ),
    "success": (
      "base": #21ba45,
    ),
    "warning": (
      "base": #f2711c,
    ),
    "danger": (
      "base": #db2828,
    ),
    "error": (
      "base": #db2828,
    ),
    "info": (
      "base": #42b8dd,
    ),
  )
);

.dark {
  // * ElMessage
  div.el-message {
    --el-message-bg-color: #1f1f1f;

    box-shadow: 0 0 4px 4px rgb(255 255 255 / 5%);
  }

  // * ElScrollbar
  .el-scrollbar__thumb {
    opacity: 1;
  }
}
