/* 这是完整的变量定义 */
// https://github.com/element-plus/element-plus/blob/dev/packages/theme-chalk/src/common/var.scss

/* 如果你用到函数，可以从这里引入 */
// @use 'element-plus/theme-chalk/src/mixins/function.scss' as *;

/* 自定义变量，只需要重写你需要的即可 */
@forward "element-plus/theme-chalk/src/common/var.scss" with (

  $colors: (
    "primary": (
      "base": #4f89f3,
    ),
    "success": (
      "base": #21ba45,
    ),
    "warning": (
      "base": #f2711c,
    ),
    "danger": (
      "base": #db2828,
    ),
    "error": (
      "base": #db2828,
    ),
    "info": (
      "base": #42b8dd,
    ),
  ),
  $border-radius: (
    "base": "5px",
  ),
  $message: (
    "padding": "9px 12px",
    "bg-color": "#ffffff",
  ),
  $table: (
    "header-bg-color": getCssVar("color-primary"),
    "header-text-color": getCssVar("color-white"),
  ),
  $card: (
    "border-radius": 10px,
  ),
);

/* 自定义黑暗变量 */
@use "./dark.scss";
